p{
  font-size: 30px;
  color: blue;
  background-color: yellow;
  width: 240px;
  border: solid black;
  padding: 20px;
  margin: 0px;
}

div{
  margin: 10px;
  padding: 20px;
  background-color: green;
  width: 290px;
}
