header {
  margin: 0 auto;
  width: 700px;
  height: 100px;
  display: flex;
}

.play-button {
  justify-content: space-between;
}

.mainpic {
  display: flex;
  justify-content: center;
}

.prev, .next {
  width: 100px;
  height: 500px;
}

.picture {
  width: 500px;
  height: 500px;
}

.picture img {
  width: 450px;
  height: 450px;
  margin: 25px;

}

footer {
  width: 700px;
  height: 100px;
  margin: 0 auto;
}

.container {
  display: flex;
}

.prevfooter, .nextfooter {
  width: 100px;
  height: 100px;
}

.thumbnail {
  width: 500px;
  height: 100px;
  overflow: hidden;
}

.thumbnail img{
  width: 80px;
  height: 80px;
  margin: 10px;
}

.arrow_left, .arrow_right {
 background-color: transparent;
 border: none;
 outline: none;
 cursor:pointer;
}

.arrow {
  width: 50px;
  height: 50px;
}

.container .arrow {
  margin: 25px;
}

.mainpic .arrow {
  margin-top: 225px;
  margin-left: 25px;
}

.prev1.arrow {
  display: none;
}

.thumbnail .current {
  border: 5px solid blue;
}

.play-image {
  display: inline;
  width: 50px;
  height: 50px;
}
