<!DOCTYPE html>
<html ng-app="CalorieCounter">
  <head>
    <title>Aqua-marine's calorie counter app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./content/favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="./app/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="./asset/css/style.css" type="text/css">
  </head>
  <body ng-controller="AppController">
    <header ng-include="'header.html'"></header>
    <div class="jumbotron">
      <div class="container">
        <h1>CalorieCounter</h1>
        <p>Log your meals, sum their calories</p>
      </div>
    </div>

    <div class="container">
      <form class="form-inline" ng-submit="addMeal()">
        <div class="form-group">
          <label for="meals">meal</label>
          <input type="text"class="form-control" placeholder="eg. veggies, meat, bread" ng-model="newMeal.name" ng-required="true">
        </div>
        <div class="form-group">
          <label for="calories">calories</label>
          <input type="number" class="form-control" placeholder="eg. 120" min="1" ng-model="newMeal.calories" ng-required="true">
        </div>
        <div class="form-group">
          <label for="date">date</label>
          <input type="date" class="form-control" placeholder="2016. 02. 31." ng-model="newMeal.date" ng-required="true">
        </div>
        <button type="submit" class="btn btn-default">Add meal</button>
      </form>
    </div>
    <br>
    <div class="container">
      <h2><span class="label label-primary">Your stored meals</span></h2>
    </div>
    <br>
    <div class="container input-group">
      <input type="text" ng-model="search" class="form-control" placeholder="Search"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="reload()">Clear</button>
      </span>
    </div>
    <br>
    <div class="container">
      <table class="table table-condensed table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>meal <button class="btn btn-xs btn-info" ng-click="order = 'meal'">Filter by</button></th>
            <th>calories <button class="btn btn-xs btn-info" ng-click="order = 'calories'">Filter by</button></th>
            <th>date <button class="btn btn-xs btn-info" ng-click="order = 'date'">Filter by</button></th>
            <th class="text-center">delete</th>
          </tr>
        </thead>
        <tbody class="db-container">
          <tr ng-repeat="meal in meals | orderBy: order | filter: search" >
            <td class="meal"> {{meal.name}} </td>
            <td class="calories"> {{meal.calories}} </td>
            <td class="date"> {{meal.date | date}} </td>
            <td class="delete"><button type="button" ng-click="deleteMeal(meal)" class="delete btn btn-block" aria-label="Delete"><span aria-hidden="true">&times;</span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="container">
      <h3 ng-show="getSum()">Total calories consumed: <span class="label label-primary">{{getSum()}}</span> kcal</h3>
    </div>

<br>
   <div class="container-fluid">
     <footer class="footer text-center">
       <p class="small">aquamarine team's calorie counter</p>
     </footer>
   </div>
  </body>
</html>
