body {
  width: 620px;
  height: 750px;
  margin: 0 auto;
}

.aside {
  display: flex;
  justify-content: space-between;
}

header, footer {
  width: 100%;
  height: 100px;
}

header {
  background-color: #00ffff;
}

.orange, .purple {
  min-width: 100px;
  height: 500px;
}

.orange {
  background-color: orange;
}

.red {
  width: 300px;
  height: 500px;
  background-color: red;
  position: relative;
}

.black {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 430px;
  left: 230px;
}

.purple {
  background-color: purple;
}

footer {
  background-color: blue;
}
