header{
  width: 95%;
  height: 100%;
  background-image: url(https://raw.githubusercontent.com/greenfox-velox/velox-syllabus/master/week-01/5-cv/project/anakin.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0 auto;
}

h1{
  margin: 0px 25%;
  padding-top: 200px;
  font-family: Abril fatface;
  font-weight: lighter;
  color: #222222;
  font-size: 70px;
}

span{
  font-size: 0.5em;
}

body{
  margin: 0;
  font-family: Josefin Sans;
  color: #222222;
  font-size: 18px;
}

article{
  margin: 0 25%;
  line-height: 30px;
}

.second > p{
  font-size: 0.75em;
  line-height: 20px;
}

blockquote{
  font-family: Abril fatface;
  font-size: 2.5em;
  background-color: #444444;
  color: white;
  display: block;
  margin: 0 20%;
  padding: 1%;
}

h2{
  font-size: 25px;
  text-transform: uppercase;
  margin: 10% 0;
}

.table li{
  font-size: 14px;
  list-style-type: square;
}

hr{
  border-width: medium;
  border-style: solid;
  border-color: black;
}
